{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h1><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h1>
    <h2>change the entry for {{ topic }}</h2>
{% endblock header %}

{% block content %}
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">save change</button>
        {% endbuttons %}
    </form>
{% endblock content %}



<!-- {% extends "learning_logs/base.html" %}

{% block content %}
    <p>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </p>
    <p> change the entry for {{ topic }}: </p>

    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p}} 
        修饰符as_p让django以段落格式渲染所有表单元素
        <button name="submit">save change</button>
    </form>

{% endblock content %} -->